* {
    margin: 0;
    padding: 0;
}

/*navigation code*/

* {
    text-decoration: none;
}

/*header Codes*/

header {
    padding-top: 15px;
    width: 100%;
    height: 100px;
    background-color: navy;
    position: fixed; 
 }

 .Raolak-logo {
    width: 6%;
    height: 120px;
    border-right: 3px solid #111;
    border-color: #fff;
    /* background-attachment: fixed; */
    /* background-image: url('img/Raolak-Logo.png'); */
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 450px;
    margin-top: -20px;
    }

 .img {
    width: 5%;
    height: 50px;
 }

.school-name {
   font-size: 22px;
   color: rgb(252, 76, 12);
   margin-top: -100px;
   padding-left: 100px;
   display: block;
   /*text-shadow:
   -2px -2px 0px rgb(255, 255, 255),
   2px -2px 0px rgb(250, 250, 250),
  -2px 2px 0px rgb(255, 255, 255),
  2px 2px 0px rgb(255, 255, 255);*/
     
}

.links-1 {
    display: block;
    margin: -40px;
    padding-left: 750px;
    width: fit-content;    
}

.links-1 li {
    display: inline-block;
    list-style: none;
    padding: 0 20px;    
}

.links-1 li a {
    font-family: Georgia;
    font-size: 15px;
    color: #fff;
    list-style: none;
   }

   .links-2 {
    display: block;
    padding-top: 80px;
    padding-left: 80px;
    width: fit-content;    
}

.links-2 li {
    display: inline-block;
    list-style: none;
    padding: 0 20px; 
    position: relative;   
}

.links-2 li a {
    font-family: Georgia;
    font-size: 15px;
    color: #fff;
    list-style: none;
   }

   /*Drop down codes*/

   span {
    padding-left: 10px;
    color: white;
    font-weight: 1000;
    font-size: 10px;
    font-family: Arial;
}

   .links-2 li ul {
   display: none;
   position: absolute;
   background-color: #f3f3f39c;
   line-height: 30px;
   padding: 5px;
   border-radius: 0px 0px 5px 5px;
  }

  
  .links-2 li:hover ul {
    display: block;
   }
 

  .links-2 li ul li  {
    width: 250px;
    border-radius: 5px;
   }

  .links-2 li ul li a {
    padding: 8px 14px;
    color: green;
   }

   .links-2 li ul li a:hover {
    background-color: rgb(252, 76, 12);
   }

   /*form codes*/

   form {
    width: 80%;
    height: 100px;
    padding-top: 116px;
    padding-left: 240px;
       
   }

   input {
    width: 80%;
    height: 30px;
    background-color: #fefefe;
    background-image: url('img/Search-icon.webp');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: left; 
    border-radius: 10px;
   }

   .search-logo {
    width: 50px;
    height: 50px;
    
   }

   /*Section-1 Codes*/

   .section-1 {
    margin: -150px 0px;
    padding-top: 0;
    width: 100%;
    height: 500px;
    position: none;
    overflow: hidden;
   }

   .display-img {
    margin-top: 50px;
    width: 100%;
    height: 400px;
     /*background-color: rgb(230, 182, 182);*/
    background-image: url('img/AAUA-2.webp');
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 2s ease-in-out 1s;
    -webkit-transition: all 2s ease-in-out 1s;
    -moz-transition: all 2s ease-in-out 1s;
    -o-transition: all 2s ease-in-out 1s; 
   }
 
   .display-img:hover {
    background-image: url('img/side-viewjpeg.jpeg');
    /*background-image: url('img/AAUA-2.webp');*/
   }

   /*Section-2 codes*/

   .section-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background-color: #b1acacd3;
   }

   .cloumn-1 {
    height: 400px;
    background-color: #f3f3f3;
    }

   .button-test {
    /* padding-top: 3px; */
    display: block;
    width: 128px;
    height: 50px;
    background-color: navy;
    font-size: 20px;
    font-family: SErif;
    font-weight: 300;
    color: rgb(252, 76, 12);
    line-height: 60px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    /* border-radius: 5px; */

    /*transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;*/
}

/*.button-test:hover {
    width: 170px;
    height: 350px;
    padding-left: 250px;
    background-color: #242323;
    border-radius: 50px;
}*/

.mission {
    margin-top: 10px;
}

   .cloumn-2 {
    height: 400px;
    background-color: #f3f3f3; 
     /* position: relative; */
    /* overflow: hidden; */
   }

   video {
    width: 200px;
    padding: 5px;
    height: 80px;
   }

   .video2 {
    height: 80px;
   }
   
   .cloumn-3 {
    height: 400px;
    background-color: #f3f3f3;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .text {
    font-size: 11.5px;
    font-family: Georgia;
    font-weight: 25px;
    padding: 8px;
   }

   h2 {
    padding-top: 10px;
    padding-left: 100px;
   }

   /*.cloumn-1:hover {
    background-color: rgb(98, 0, 255);
   }

   .cloumn-2:hover {
    background-color: rgb(98, 0, 255);
   }

   .cloumn-3:hover {
    background-color: rgb(98, 0, 255);
   }

   /*Section-3*/

   .Faculty {
    margin-top: 50px;
    padding-left: 600px;
   }

   .section-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    background-color: #eadfdf;
    overflow: hidden;
   }

   .box-1 {
    height: 200px;
    background-color: rgb(228, 140, 140);
    color: #111;
    background-image: url('img/me.JPG');
    background-size: cover;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .box-2 {
    height: 200px;
    background-color: rgb(125, 52, 209);
    color: #111;
    background-image: url('img/Engineers.jpg');
    background-size: cover;
   /* position: relative;
    overflow: hidden;*/
   }

   .box-3 {
    height: 200px;
    background-color: rgb(158, 38, 48);
    color: #111;
    background-image: url('img/science-stu.jpeg');
    background-size: cover;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .box-4 {
    height: 200px;
    background-color: rgb(166, 255, 0);
    color: #111;
    background-image: url('img/Manage.jpeg');
    background-size: cover;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .box-5 {
    height: 200px;
    background-color: rgb(13, 53, 40);
    color: #111;
    background-image: url('img/agric.jpeg');
    background-size: cover;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .box-6 {
    height: 200px;
    background-color: gold;
    color: #111;
    background-image: url('img/medic.jpeg');
    background-size: cover;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .box-7 {
    height: 200px;
    background-color: goldenrod;
    color: #111;
    background-image: url('img/law.jpeg');
    background-size: cover;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .box-8 {
    height: 200px;
    background-color: rgb(134, 236, 108);
    color: #111;
    background-image: url('img/edu.jpeg');
    background-size: cover;
    /* position: relative; */
    /* overflow: hidden; */
   }

   .box-1:hover {
    background-color:  rgb(252, 76, 12);
   }

   .box-2:hover {
    background-color:  rgb(252, 76, 12);
   }

   .box-3:hover {
    background-color:  rgb(252, 76, 12);
   }

   .box-4:hover {
    background-color:  rgb(252, 76, 12);
   }

   .box-5:hover {
    background-color:  rgb(252, 76, 12);
   }

   .box-6:hover {
    background-color:  rgb(252, 76, 12);
   }

   .box-7:hover {
    background-color:  rgb(252, 76, 12);
   }

   .box-8:hover {
    background-color:  rgb(252, 76, 12);
   }

   /*Section-4 codes*/

   .section-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    width: 100%;
    height: 400px;
    margin-top: 10px;
    background-color: #816262;
    overflow: hidden;
   }

   /*FOOTER*/
       
footer {
    width: calc(100% - 80px) ;
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #111;
    overflow: hidden;
}
    
footer ul {
    width: fit-content;
    float: left;
    padding-left: 20px;
}

footer ul li {
    display: block;
    list-style: none;
    line-height: 20px;
}
 
footer ul li a {
    font-family: Georgia;
    font-size: 16px;
    color: #fff;
    line-height: 80px;
}

.footer-links-cases {
    display: none;
}

.footer-sm {
    width: 100px;
    float: right;
}

.footer-sm img {
    width: 100px;
    margin-bottom: 10px;
}

